FormatStyle:     file
SystemHeaders:   false

HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx

HeaderFilterRegex: '.*/include/.*|.*/src/.*|.*/tests/.*'
ExcludeHeaderFilterRegex: ''

Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-forward-declararion-namespace,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-vararg,
  google-*,
  -google-build-using-namespace,
  hicpp-*,
  llvm-*,
  -llvm-else-after-return,
  -llvmlibc-*,
  misc-*,
  -misc-use-anonymous-namespace,
  modernize-*,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  readability-*,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-magic-numbers,
  clang-diagnostic-*,
  clang-analyzer-*,

WarningsAsErrors: ''

CheckOptions:
  # Performance Checks
  performance-for-range-copy.WarnOnAllAutoCopies: 'true'
  performance-inefficient-string-concatenation.StrictMode: 'true'
